* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--secondary);
    color: var(--primary);
}

a {
    text-decoration: none;
    color: var(--dark);
}

:root {
    --grey: #f5f5f5be;
    --hover: #8007d6;
    --dark: #0b0116;
    --darkSky: #02fbd1;
    --secondary: #ffffff;
    --primary: #000;
}

:root .dark-mode {
    --grey: #222222;
    --green: #0cc761;
    --dark: #0b0116;
    --hover: #dd40fd;
    --secondary: #000;
    --primary: #fff;
}

.dark-mode body {
    background-color: var(--primary);
    color: var(--secondary);
}

.dark-mode header {
    background-color: #1B1B1B;
}

.dark-mode .hero {
    background: linear-gradient(#34343499, #48484843, #2b2a2a1b, #1e1e1e11);
}

.dark-mode .skills {
    background: linear-gradient(#1e1e1e11, #2b2a2a1b, #34343460, #48484821);
    box-shadow: 0px 10px 15px #2b2a2a1f;
}

.dark-mode .header-list a {
    font-weight: 500;
    letter-spacing: 1px;
}

.dark-mode .typewriter {
    background: linear-gradient(to right, #aa36fd, #ff00e1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.dark-mode .skills-sec:hover,
.dark-mode .item:hover {
    box-shadow: 0px 5px 8px #aa36fd, 0px 0px 2px #ff00e1;
}

.dark-mode .skills-sec,
.dark-mode .item {
    box-shadow: 0px 0px 5px #cf36fd;
}

/** header Style **/
header {
    background: #E7FEF3;
    display: flex;
    align-items: center;
    height: 2.2rem;
    justify-content: space-around;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: var(--primary);
}

.hamburger {
    display: none;
}

.hamburger div i {
    left: 22px;
    z-index: 5;
    color: var(--primary);
    position: absolute;
    top: 17.8px;
    font-size: 27px;
    cursor: pointer;
}

.hamburger div i:hover {
    color: var(--hover);
}

nav {
    display: flex;

}

.header-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list:hover a {
    color: var(--hover);
}

.header-list a {
    color: var(--primary);
    margin: 0 12px;
    padding: 4px 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.header_under {
    width: 1px;
    position: absolute;
    width: 1px;
    bottom: 0px;
    transition: width 0.3s ease-in-out;
}

.header-list:hover .header_under {
    background-color: var(--hover);
    width: 65px;
    height: 2.5px;
}

.dark-mode-icon div i {
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 22px;
    font-size: 25px;
}

.dark-mode-icon div i:hover {
    color: var(--hover);
}

.sun {
    display: none;
}

.active {
    display: block;
}

.not-active {
    display: none;
}

/** hero section Style **/

.hero {
    background: linear-gradient(#48fa9825, #81e6f51f, #b2ecf818);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40rem;
    color: var(--primary);
}

.hero-left {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-left h1 {
    font-size: 60px;
}

.hero-right {
    top: 50px;
    padding: 5px;
    position: relative;
    height: 28rem;
    width: 24rem;

}

.first-box {
    position: absolute;
    height: 25rem;
    transform: rotateX(45deg);
    width: 20rem;
    background-color: #ff008cc8;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: firstBox 8s infinite;
}

@keyframes firstBox {
    0% {
        transform: rotateX(65deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotateX(65deg);
    }
}

.sec-box {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    top: 0.5rem;
    left: 1.5rem;
    position: absolute;
    transform: rotateX(15deg);
    height: 25rem;
    width: 19rem;
    background-color: #c2db00da;
    animation: secBox 5s infinite;
}

@keyframes secBox {
    0% {
        transform: rotateX(45deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotateX(45deg);
    }
}

.third-box {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    top: 0.5rem;
    left: 1.5rem;
    position: absolute;
    height: 24rem;
    width: 18rem;
    transform: rotate(13deg);
    background-color: #8400ffc2;
    animation: thirdBox 7s infinite;
}

@keyframes thirdBox {
    0% {
        transform: rotateX(13deg)
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotateX(13deg);
    }
}

.hero img {
    position: absolute;
    top: 1rem;
    left: 2rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 60% 50%;
    height: 22rem;
    width: 18rem;
    object-fit: cover;
}

.typewriter {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(to right, #590e96, #a50092);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.CV-main {
    margin-top: 30px;
    position: relative;
    width: fit-content;
}

.CV-main a {
    border-radius: 5px;
    background: linear-gradient(to right, #6b19ae, #aa0297);
    width: 9rem;
    padding: 8px 55px 8px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 0.6px;
}

.CV-main a i {
    position: absolute;
    top: 4.1px;
    right: 30px;
    transition: right 0.3s ease-out;
}

.CV-main a:hover {
    box-shadow: 5px 5px 15px #b9b9b96e;
}

.CV-main a:hover i {
    right: 10px;
}

/** about section Style **/

.about {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 7rem 3rem 5rem 3rem;
    margin: 0rem 5rem 1rem 5rem;
}

.about-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
}

.about-head p {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-head-underline {
    margin-top: 15px;
    height: 3px;
    border-radius: 8px;
    width: 15rem;
    background-color: var(--hover);
}

.dot {
    position: relative;
    top: -11px;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3.5px solid var(--hover);
    background-color: var(--hover);
    animation: dotMove 7s infinite ease-in-out;
}

@keyframes dotMove {
    0% {
        left: 0px;
    }

    25% {
        left: -125px;
    }

    50% {
        left: 0;
    }

    75% {
        left: 125px;
    }

    100% {
        left: 0;
    }
}

.about-detail {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.about img {
    margin-top: -5rem;
    height: 22rem;
}

.about-right {
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.social div {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    gap: 15px;
}

.social div a {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 22px;
    line-height: 41px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.514);
    transition: all 0.8s;
}

.social div:nth-child(1) i {
    color: #131a1a;
}

.social div:nth-child(2) i {
    color: #00407c;
}

.social div:nth-child(3) i {
    color: #00d5ff;
}

.social div:nth-child(4) i {
    color: #0261ba;
}

.social div:nth-child(5) i {
    color: #ed0f55;
}


.social div:nth-child(1):hover a {
    background-color: #131a1a;
}

.social div:nth-child(2):hover a {
    background-color: #00407c;
}

.social div:nth-child(3):hover a {
    background-color: #00d5ff;
}

.social div:nth-child(4):hover a {
    background-color: #0261ba;
}

.social div:nth-child(5):hover a {
    background-color: #ed0f55;
}

.social div:hover a i {
    color: white;
}

/** skills section Style **/

.skills {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 6rem 4rem 2rem 4rem;
    background: linear-gradient(#c1f9ef1a, #19d76e19, #03aa4e36);
    box-shadow: 0px 10px 15px #03aa4e36;
}

.skills-detail {
    display: flex;
    place-items: center;
    max-width: 70rem;
    gap: 25px;
    padding: 0 5rem;
}

.skills-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 17rem;
    gap: 1rem;
    background-color: var(--grey);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 5px #44434373;
    transition: all 0.3s;
    cursor: pointer;
}

.skills-sec p:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--hover);
}

.skills-sec:hover {
    transform: rotateX(3deg);
    box-shadow: 0px 5px 8px #00000096, 0px 0px 2px #44434373;
}

.skills-sec img {
    height: 14rem;
}

/** project section Style **/

.project {
    background: var(--secondary);
    margin: 0 5rem;
    box-shadow: none;
    padding: 6rem 0;
}

.project-item {
    margin-top: 2rem;
}

.item {
    border-radius: 7px;
    background-color: var(--grey);
    box-shadow: 0px 0px 5px #44434373;
    transition: all 0.3s;
    margin: 9px;
    min-height: 25rem;
}

.item:hover {
    box-shadow: 0px 5px 8px #00000096, 0px 0px 2px #44434373;
    transform: rotateX(3deg);
}

.item img {
    border-radius: 5px;
    box-shadow: 0px 5px 5px #000000cb;
}

.proj-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.proj-btn>.social {
    margin-bottom: 18px;
}

.proj-btn>.social>div>a {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.live {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--dark);
    color: #fff;
    padding: 3px 15px;
    border-radius: 50px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
}

.live i {
    font-size: 13px;
}

.pro-name {
    color: var(--hover);
    padding: 7px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.pro-det {
    padding: 0 7px;
    color: var(--primary);
    font-size: 14px;
    text-align: center;
}

.contact {
    background: linear-gradient(to right, #843CBF, #FC28E5);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
    backdrop-filter: blur(10px);
    /* height: 10rem; */
}

.custom-shape-divider-top-1690556336 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1690556336 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-top-1690556336 .shape-fill {
    fill: var(--secondary);
}

.custom-shape-divider-bottom-1690556257 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690556257 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-bottom-1690556257 .shape-fill {
    fill: var(--secondary);
}

.contact-head>p {
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 2.5rem;
}

.contact-main {}


/** footer section Style **/

footer {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #111616;
    color: #fff;
    padding: 8rem 3rem 5rem 3rem;
}

.custom-shape-divider-top-1690137589 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1690137589 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.custom-shape-divider-top-1690137589 .shape-fill {
    fill: var(--secondary);
}

/** For mobile devices **/

@media (max-width: 767px) {
    .custom-shape-divider-top-1690137589 svg {
        width: calc(100% + 1.3px);
        height: 90px;
    }
}

footer h2 {
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: 400;
}

footer a {
    display: flex;
    cursor: pointer;
}

footer a:hover {
    color: #aa36fd;
}

footer a,
footer p {
    line-height: 2rem;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #848484;
}

.footer-start {
    max-width: 20rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20rem;
}

.newsletter input {
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #6b19ae;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .hamburger {
        display: block;
    }

    .hamburger div i,
    .dark-mode-icon div i {
        font-size: 24px;
        top: 14px;
    }

    .xmark {
        display: none;
    }

    .active {
        display: block;
    }

    .not-active {
        display: none;
    }

    nav {
        padding: 30px 40px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -300px;
        top: 4rem;
        background-color: var(--secondary);
        color: var(--primary);
        box-shadow: 0 0px 10px #cf36fd;
        border-radius: 5px;
        transition: all 0.5s;
    }

    .nav-active {
        left: 10px;
    }

    header {
        height: 1.7rem;
    }

    .about {
        padding: 5rem;
        margin: 0;
    }

    .hero {
        flex-direction: column-reverse;
        padding: 2.5rem 0.3rem;
    }

    .typewriter {
        font-size: 1.8rem;
        letter-spacing: 0.2px;
        font-weight: 600;
    }

    .hero-left>p,
    .about-detail p {
        font-size: 13px;
    }

    .hero-left {
        margin-top: -55px;
    }

    .hero-left h1 {
        font-weight: 600;
        font-size: 3rem;
        margin-bottom: -6px;
    }

    .CV-main>a {
        font-size: 1rem;
    }

    .about-detail {
        flex-direction: column;
    }

    .about-right {
        min-width: 13rem;
    }

    .social {
        gap: 20px;
    }

    .hero-right {
        width: 18rem;
        height: 20rem;
        top: -20px;
    }

    .hero img {
        top: 2rem;
        height: 18rem;
        width: 14rem;
    }

    .first-box {
        top: 2rem;
        height: 19rem;
        width: 15rem;
    }

    .sec-box {
        top: 2rem;
        height: 19.5rem;
        width: 15.5rem;
    }

    .third-box {
        top: 2rem;
        height: 19.5rem;
        width: 16rem;
    }

    .about img {
        margin-top: -2.5rem;
        height: 15rem;
    }

    .skills-detail {
        flex-direction: column;
    }

    .skills-sec {
        min-width: 17rem;
    }

    .project {
        margin: 1rem;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .footer-start {
        min-width: 16rem;
        max-width: 25rem;
    }

    .newsletter {
        width: 18rem;
    }
}

@media (min-width:426px) and (max-width: 767px) {

    header {
        height: 1.7rem;
    }

    .hamburger {
        display: block;
    }

    .hamburger div i,
    .dark-mode-icon div i {
        font-size: 24px;
        top: 14px;
    }

    .xmark {
        display: none;
    }

    .active {
        display: block;
    }

    .not-active {
        display: none;
    }

    nav {
        padding: 30px 40px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -300px;
        top: 4rem;
        background-color: var(--secondary);
        color: var(--primary);
        box-shadow: 0 0px 10px #cf36fd;
        border-radius: 5px;
        transition: all 0.5s;
    }

    .nav-active {
        left: 10px;
    }


    .about {
        padding: 5rem;
        margin: 0;
    }

    .hero {
        flex-direction: column-reverse;
        padding: 3.5rem 1rem 8rem 1rem;
    }

    .hero-left {
        margin-top: -8rem;
    }

    .hero-right {
        top: -15px;
        width: 18rem;
    }

    .hero img {
        top: 2rem;
        height: 18rem;
        width: 14rem;
    }

    .first-box {
        top: 2rem;
        height: 19rem;
        width: 15rem;
    }

    .sec-box {
        top: 2rem;
        height: 19.5rem;
        width: 15.5rem;
    }

    .third-box {
        top: 2rem;
        height: 19.5rem;
        width: 16rem;
    }

    .typewriter {
        font-size: 2.3rem;
        font-weight: 600;
    }

    .hero-left>p,
    .about-detail p {
        font-size: 14px;
    }

    .hero-left h1 {
        font-weight: 600;
        font-size: 3.7rem;
        margin-bottom: -6px;
    }

    .CV-main>a {
        font-size: 1rem;
    }

    .about-detail {
        flex-direction: column;
    }

    .about-right {
        min-width: 13rem;
    }

    .about img {
        margin-top: -2.5rem;
        height: 20rem;
    }

    .skills-detail {
        flex-direction: column;
    }

    .skills-sec {
        min-width: 18rem;
    }

    .project {
        margin: 2rem;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

}

@media (min-width:768px) and (max-width: 1024px) {

    .hero,
    .about {
        padding: 0 1rem;
    }

    .typewriter {
        font-size: 2.6rem;
        font-weight: 600;
    }

    .hero-left>p,
    .about-detail p {
        font-size: 15px;
    }

    .hero-left h1 {
        font-size: 3.8rem;
        margin-bottom: -12px;
    }

    .CV-main>a {
        font-size: 1rem;
    }

    .about {
        margin: 0;
    }

    .hero-right {
        width: 30rem;
        padding-right: 7.7rem;
    }

    .hero img {
        top: 2rem;
        height: 18rem;
        width: 14rem;
    }

    .first-box {
        top: 2rem;
        height: 19rem;
        width: 15rem;
    }

    .sec-box {
        top: 2rem;
        height: 19.5rem;
        width: 14rem;
    }

    .third-box {
        top: 2rem;
        height: 19.5rem;
        width: 15rem;
    }

    .about img {
        height: 15rem;
    }

    .about-right {
        min-width: 23rem;
    }

    .skills-detail {
        gap: 17px;
    }

    .skills-sec {
        padding-right: 5px;
        padding-left: 5px;
    }

    .skills-sec img {
        height: 12rem;
    }

    .project {
        margin: 0.5rem;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
}

@media (min-width:1024px) and (max-width: 1199px) {

    .hero,
    .about {
        padding: 0 3rem;
    }

    .hero-left {
        padding-right: 50px;
    }

    .typewriter {
        font-size: 3.2rem;
        font-weight: 600;
    }

    .hero-left>p,
    .about-detail p {
        font-size: 15px;
    }

    .hero-left h1 {
        font-size: 4.5rem;
        margin-bottom: -12px;
    }

    .CV-main>a {
        font-size: 1rem;
    }

    .about {
        margin: 0;
    }

    .hero-right {
        padding-right: 10rem;
    }

    .about img {
        height: 15rem;
    }

    .about-right {
        min-width: 23rem;
    }

    .project {
        margin: 2rem;
    }
}